// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.btn {
  a {
    color: white;
  }
}

section.CTA {
  height: 650px;
  background-image: url(asset-path("abg.jpg"));
  background-repeat: no-repeat;
  background-size: 100% auto;
}

div.section {
  padding-top: 400px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
